<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page_content.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components.css') }}">
</head>
<body>
<div class="global-container">
    <header>
        <div class="wrapper header-content">
            <h1 class="col-sm-8-12 col-md-10-12"><a href="{{ url_for('show_restaurants') }}">Restaurant search</a></h1>
                <div class="col-sm-4-12 col-md-2-12 button-container-small">
                    {% if 'username' not in session %}
                    <a class="button-type-2" href="{{ url_for('login_show') }}">
                        <p>Login</p>
                    </a>
                    {% else %}
                    <a class="button-type-2" href="{{ url_for('disconnect_page') }}">
                        <p>Logout</p>
                    </a>
                    {% endif %}
                </div>
        </div>
    </header>
    <div class="page-content wrapper">
        {% block content %}

        {% endblock %}
    </div>
    <footer>
        <ul class="wrapper">
            <li class="col-sm-12-12"><a href="{{ url_for('show_restaurants') }}">Home</a></li>
            <li class="col-sm-12-12"><a href="{{ url_for('add_restaurant') }}">Add a new restaurant</a></li>
        </ul>
    </footer>
</div>
</body>
</html>