{% extends "base.html" %}

{% block content %}
    <h2>Edit restaurant {{ restaurant.name }}</h2>
    <form method="post" action="{{ url_for('edit_restaurant', rest_id=restaurant.id) }}">
        <p>Name</p>
        <input type="text" name="rest_name" placeholder="{{ restaurant.name }}">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for m in messages %}
                    <p>{{ m }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <input type="submit" value="Save changes">
    </form>
    <a href="/"><p>Cancel</p></a>
{% endblock %}