{% extends "base.html" %}

{% block content %}
    <h2 class="col-sm-12-12 content-white-background">Edit restaurant {{ restaurant.name }}</h2>
    <form method="post" action="{{ url_for('edit_restaurant', rest_id=restaurant.id) }}" class="wrapper content-white-background">
        <input type="hidden" name="CSRF" value="{{ session['CSRF'] }}">
        <div class="col-sm-12-12 form-component">
            <p>Name</p>
            <input type="text" name="rest_name" placeholder="Insert restaurant name" value="{{ name }}">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for m in messages %}
                    <p class="error-message">{{ m }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>

        <input type="submit" value="Save changes">
    </form>
    <div class="col-sm-12-12 content-white-background button-container-big">
        <a class="button-type-1" href="/"><p>Cancel</p></a>
    </div>
{% endblock %}