{% extends "base.html" %}

{% block content %}
    <h2>restaurants name menus:</h2>
    <div>
        <div>
            <div>
                <p>Menu name</p>
                <p>Menu course</p>
                <p>Menu description</p>
                <p>Menu price</p>
            </div>
            <a href="#"><p>Edit</p></a>
            <a href="#"><p>Delete</p></a>
        </div>
        <div>
            <div>
                <p>Menu name</p>
                <p>Menu course</p>
                <p>Menu description</p>
                <p>Menu price</p>
            </div>
            <a href="#"><p>Edit</p></a>
            <a href="#"><p>Delete</p></a>
        </div>
    </div>
    <div>
        <a href="#"><p>Add new menu</p></a>
    </div>
{% endblock %}