{% extends "base.html" %}

{% block content %}
    <h2 class="col-sm-12-12 content-white-background">Add a new menu to {{ restaurant.name }}'s restaurant</h2>
    <form method="post" action="{{ url_for('add_menu', rest_id=restaurant.id) }}"
          class="wrapper content-white-background">
        <input type="hidden" name="CSRF" value="{{ session['CSRF'] }}">
        <div class="col-sm-12-12 form-component">
            <p>Name</p>
            <input type="text" name="menu_name" placeholder="Insert menu name" value="{{ name }}">
            <p class="error-message">{{ name_message }}</p>
        </div>
        <br>
        <div class="col-sm-12-12 form-component">
            <p>Course</p>
            <select name="menu_course">
                <option value="None" selected disabled>Select course here</option>
                <option value="Soap">Soap</option>
                <option value="Salad">Salad</option>
                <option value="Meat">Meat</option>
                <option value="Fish">Fish</option>
                <option value="Desert">Desert</option>
            </select>
            <p class="error-message">{{ course_message }}</p>
        </div>
        <br>
        <div class="col-sm-12-12 form-component">
            <p>Description</p>
            <textarea name="menu_description" placeholder="Insert menu description">{{ description }}</textarea>
            <p class="error-message">{{ description_message }}</p>
        </div>
        <br>
        <div class="col-sm-12-12 form-component">
            <p>Price / €</p>
            <input type="number" step="0.01" name="menu_price" placeholder="Insert menu price in Euros (€)"
                   value="{{ price }}">
            <p class="error-message">{{ price_message }}</p>
        </div>
        <input type="submit" value="Submit">
    </form>
    <div class="col-sm-12-12 content-white-background button-container-big">
        <a class="button-type-1" href="{{ url_for('show_menus', rest_id=restaurant.id) }}"><p>Cancel</p></a>
    </div>
{% endblock %}