{% extends "base.html" %}

{% block content %}
    <h2 class="col-sm-12-12 content-white-background">Page not found</h2>
    <div class="wrapper content-white-background page-not-found">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
                <p>{{ m }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="col-sm-12-12 content-white-background button-container-big">
        <a class="button-type-1" href="{{ url_for('show_restaurants') }}"><p>Show Restaurants</p></a>
    </div>
{% endblock %}