{% extends "base.html" %}

{% block content %}
    <h2>List of restaurants</h2>
    <div>
        <div>
            <a href="#"><p>Restaurant 1</p></a>
            <a href="#"><p>Edit</p></a>
            <a href="#"><p>Delete</p></a>
        </div>
        <div>
            <a href="#"><p>Restaurant 2</p></a>
            <a href="#"><p>Edit</p></a>
            <a href="#"><p>Delete</p></a>
        </div>
    </div>
    <div>
        <a href="/restaurants/new"><p>Add new restaurant</p></a>
    </div>
{% endblock %}