{% extends "base.html" %}

{% block content %}
    <h2 class="col-sm-12-12 content-white-background">List of restaurants</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="col-sm-12-12 flashed-messages content-white-background">
                {% for m in messages %}
                    <p>{{ m }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="col-sm-12-12 restaurants">
{% if num_restaurants > 0 %}
    {% for r in restaurants %}
        <div class="wrapper-inside restaurant content-white-background">
            <h3 class="col-sm-6-12 col-md-8-12 make-ellipsis"><a href="{{ url_for('show_menus', rest_id=r.id) }}">{{ r.name }}</a></h3>
            {% if session["user_id"] == r.user_id %}
            <div class="col-sm-3-12 col-md-2-12 button-container-small">
                <a class="button-type-0" href="{{ url_for('edit_restaurant', rest_id=r.id) }}"><p>Edit</p></a>
            </div>
            <div class="col-sm-3-12 col-md-2-12 button-container-small">
                <a class="button-type-0" href="{{ url_for('delete_restaurant', rest_id=r.id) }}"><p>Delete</p></a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p class="col-sm-12-12 empty-message content-white-background">No restaurants have been added yet!</p>
{% endif %}
    </div>
    <div class="col-sm-12-12 content-white-background button-container-big">
        <a class="button-type-1" href="/restaurants/new"><p>Add new restaurant</p></a>
    </div>
{% endblock %}