@charset "UTF-8";

.button-container-small {
    height: 100%;
    padding: 5px 5px 5px 0;
}

[class*="button-type-"] {
    background-color: #444;
    height: 100%;
    display: table;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 4px #888;
}

[class*="button-type-"] p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
    font-size: 1em;
}

[class*="button-type-"]:active {
    box-shadow: none;
}

.button-type-0,
.button-type-1,
.button-type-2 {
    box-shadow: none;
    background-color: dodgerblue;
    width: 100%;
}

.button-type-1 {
    background-color: #444;
}

.button-type-2 {
    background-color: white;
}

.button-type-2 p {
    color: crimson;
}

.empty-message {
    height: auto;
    padding: 5px;
}

.button-container-big {
    padding: 5px;
    height: 44px;
}

@media screen and (min-width: 768px) {
    [class*="button-type-"] p {
        font-size: 1.25em;
    }

    .button-container-big {
        height: 55px;
    }
}