@charset "UTF-8";

/*--FLASHED MESSAGES--------------*/
.flashed-messages p {
    padding: 5px;
    color: crimson;
}

/*--RESTAURANT LIST---------------*/
.restaurant {
    height: 44px;
}

@media screen and (min-width: 768px) {
    .restaurant {
        height: 55px;
    }
}

/*--MENU LIST-----------*/
.menu h3 {
    border-bottom: 1px solid crimson;
    padding-bottom: 10px;
    margin: 0 5px;
    padding-left: 0;
    padding-right: 0;
}

.menu-params {
    padding: 10px 5px 5px 5px;
    font-size: 0.75em;
}

.menu-btns {
    height: 44px;
    padding: 5px 0;
}

.menu-picture {
    margin-top: 10px;
    padding: 0 5px;
    width: 100%;
    max-height: 200px;
}

.restaurant-creator .creator-name {
    width: calc(100% - 41px);
}

.restaurant-creator .creator-name p{
    font-size: 0.75em;
    margin: 4px 5px;
}

.restaurant-creator .creator-name .label {
    font-weight: 700;
}

.restaurant-creator img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    margin-top: 5px;
}

@media screen and (min-width: 768px) {
    .menu-params {
        padding: 10px 5px;
        font-size: 0.875em;
    }

    .menu-btns {
        height: 55px;
    }

    .menu-picture {
        max-height: 400px;
    }
}

/*--FORM----------------*/
form {
    padding: 5px;
    margin: 0 auto;
}

.form-component p {
    font-size: 1em;
    margin: 5px 0 10px 0px;
}

.form-component .error-message {
    color: crimson;
    font-size: 0.875em;
    margin-top: -5px;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    height: 36px;
    background-color: rgba(220, 20, 60, 0.1);
    border: none;
    margin-bottom: 5px;
    text-indent: 5px;
}

textarea {
    padding-top: 5px;
    height: 120px;
}

select {
    border-radius: 0;
}

input[type="submit"],
.send-picture-button {
    width: 100%;
    background-color: dodgerblue;
    border: none;
    color: white;
    height: 34px;
    font-size: 1em;
    cursor: pointer;
}

.send-picture-button {
    background-color: crimson;
}

.input-file {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    opacity: 0;
}

@media screen and (min-width: 768px) {
    .form-component p {
        margin: 10px 0 15px 0;
        font-size: 1.125em;
    }

    input[type="text"] {
        height: 44px;
        font-size: 1em;
        margin-bottom: 10px;
    }

    input[type="submit"],
    .send-picture-button {
        height: 50px;
        font-size: 1.25em;
    }
}

.page-not-found {
    padding: 5px;
}


/*--LOGIN----------------*/
.provider-login:first-child {
    margin-top: 20px;
}

.provider-login:nth-child(2) {
    margin: 10px 0 20px 0;
}

.provider-login button {
    border: none;
    background-color: transparent;
}

#result h1 {
    width: 100%;
    font-size: 1.4em;
    text-align: center;
    padding-top: 20px;
}

#result img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 20px auto;
    border-radius: 250px;
}

#result p {
    width: 100%;
    font-size: 0.875em;
    text-align: center;
    margin-bottom: 20px;
}

/*-Google button--*/
#signInButton,
#fbSignInButton {
    margin: 0 auto;
    width: 154px;
}
