@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background: url("../assets/bg.jpg");
    background-size: auto 100%;
}

/*setup to get footer always on bottom of page*/
html,
body {
    height: 100%;
}

.global-container {
    min-height: 100%;
    position: relative;
}

.page-content {
    padding-bottom: 110px;
}

footer {
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 1024px) {
    body {
        background-size: 100% auto;
    }
}