{% extends "base.html" %}

{% block content %}
    <h2>Add a new menu to restaurants name</h2>
    <form>
        <p>Name</p>
        <input type="text" name="menu_name">
        <br>
        <p>Course</p>
        <select name="menu_course">
            <option value="soap">Soap</option>
            <option value="salad">Salad</option>
            <option value="meat">Meat</option>
            <option value="fish">Fish</option>
            <option value="desert">Desert</option>
        </select>
        <br>
        <p>Description</p>
        <textarea name="menu_description"></textarea>
        <br>
        <p>Price</p>
        <input type="number" name="menu_price"> €
        <input type="submit" value="Submit">
    </form>
    <a href="/"><p>Cancel</p></a>
{% endblock %}